<div class="container-luid px-3">
  <div class="row">
    <div class="col-lg-2 px-0">
      <p
        class="pl-0"
        style="
          width: 40px;
          height: 40px;
          background-color: rgb(0, 137, 155);
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 100%;
          font-size: 15px;
          font-weight: bold;
          color: white;
        "
      >
        {{ index }}
      </p>
    </div>
    <div class="col-lg-10 px-0">
      <table style="width: 300px">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 40%" />
        </colgroup>
        <tr>
          <td><b>From</b></td>
          <td>
            {{ ItemData.from }}
          </td>
        </tr>
        <tr>
          <td><b>Assigned to</b></td>
          <td>{{ ItemData.assignedTo }}</td>
        </tr>
        <tr>
          <td><b>Date & Time</b></td>
          <td>{{ ItemData.dateTime }}</td>
        </tr>
        <tr>
          <td><b>Details</b></td>
          <td>{{ ItemData.details }}</td>
        </tr>
      </table>

      <p class="text-end" *ngIf="ItemData.status == 'done'">
        <button (click)="DeleteTask()" style="background: transparent; border: none;">
          <mat-icon style="color: red;">delete</mat-icon>
        </button>
      </p>
    </div>
  </div>
</div>
