<div class="container px-3">
  <div class="row">
    <div class="col-lg-2 px-0">
      <p class="pl-0"
        style="
        width: 40px;
        height: 40px;
          background-color: rgb(0, 137, 155);
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 100%;
          font-size: 15px;
          font-weight: bold;
          color: white;
        "
      >
        {{ index }}
      </p>
    </div>
    <div class="col-lg-10 px-3">
      <p>From: {{ from }}</p>
      <p>Assinged to</p>
      <p>Date & Time</p>
      <p>Details</p>
    </div>
  </div>
</div>
