<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 col-md-12 py-3">
      <p class="text-end">
        <button class="btn btn-success" (click)="openDialogWithoutRef()">
          Add Task
        </button>
      </p>
    </div>
  </div>
  <div class="row" cdkDropListGroup>
    <div class="col-lg-4">
      <h2>To do</h2>

      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event, 'todo')"
      >
        <div
          class="example-box"
          *ngFor="let item of todo; let index = index"
          cdkDrag
        >
          <app-item [from]="from" [index]="index"></app-item>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>In Progress</h2>

      <div
        cdkDropList
        [cdkDropListData]="inProgress"
        class="example-list"
        (cdkDropListDropped)="drop($event, 'inProg')"
      >
        <div
          class="example-box"
          *ngFor="let item of inProgress; let index = index"
          cdkDrag
        >
          <app-item [from]="from" [index]="index"></app-item>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>Done</h2>

      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event, 'done')"
      >
        <div
          class="example-box"
          *ngFor="let item of done; let index = index"
          cdkDrag
        >
          <app-item [from]="from" [index]="index"></app-item>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="example-container"></div>

  <div class="example-container"></div>

  <div class="example-container"></div>
</div>

<ng-template #AddTask>
  <h2 matDialogTitle>Add new task</h2>
  <mat-dialog-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Task from</mat-label>
        <input matInput placeholder="Task from" name="task_from" />
        <!-- <mat-icon matSuffix>person</mat-icon> -->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Assigned to</mat-label>
        <input matInput placeholder="Assigned to" name="assigned_to" />
        <!-- <mat-icon matSuffix>person</mat-icon> -->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Date & Time</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Date & Time"
          name="date_time"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- <mat-icon matSuffix>person</mat-icon> -->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Details</mat-label>
        <textarea
          matInput
          rows="10"
          placeholder="Details"
          name="Details"
        ></textarea>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose class="btn btn-warning">
      <mat-icon class="inline-icon">add_box</mat-icon> Add
    </button>
  </mat-dialog-actions>
</ng-template>
